
*.xml
*.iml
Curso-de-Python-3-do-Básico-Ao-Avançado-com-projetos-reais/Secao3-Python-Intermediario-Programacao-Procedural/86problemas_dos_parametros_mutaveis_funcoes/Pipfile
Curso-de-Python-3-do-Básico-Ao-Avançado-com-projetos-reais/Secao3-Python-Intermediario-Programacao-Procedural/87execicios_undo_e_rendo/.idea/dictionaries
Curso-de-Python-3-do-Básico-Ao-Avançado-com-projetos-reais/Secao3-Python-Intermediario-Programacao-Procedural/87execicios_undo_e_rendo/Pipfile
