body{
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-style: initial;
}
a{
    color: rgb(255, 255, 255);
    border: rgb(54, 53, 53) 1px solid;
    padding: 5px;
    margin: 0;
    background-color: #03071400;
    float: right;
}
img{
    width: 150px;
    float: left;
}
.nome{
    text-align: left;
}
.sobremim{
    text-align: center;
    margin: 100px;
}
div h1{
    text-align: center;
}
section{
    display: flex;
    border: solid 2px white;
}
.hobbies{
    border: white 2px white;
    padding: 20px;
    text-align: center;
}
section, p, h1{
    margin: 40px;
}