body{
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    font-size: 1em;
}
#container{
    background-color: #F2F2F2;
}
#container nav{
    width: 100%;
    display: flex; 
    justify-content: center;
    background-color: #0A4961;
    margin: 0;
}
main div{
    margin: 0 0 0 0 ;
}
nav a{
    color: #F2F2F2;
    margin: 16px;
    text-decoration: none;
}
.p1{
    margin: 16px 280px 16px 90px ;
    color: white;
}
main img{
    width: 650px;
    margin: 0 0 0 150px;
    border: solid #202233 1px;
    float: left;
}
main p{
    text-align: left;
    width: 500px;
    float: right;
    margin: 0 20px 0 0 ;

}
main h1{
    text-align: left;
    margin: 0 50px 0 150px ;
}
.h11{
    margin: 20px;
    text-align: center;
    color: #000000;
}
footer{
    text-align: center;
    background-color: #0A4961;
    color: white;
    clear: both;
}
#divjogadores{
    display: inline;
}
section{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    border: none;

}
#divjogadores img{
    width: 200px;
    height: 150px;
    margin: 0 0 0 50px;
    padding: 20px;
    border: none;
}
#divjogadores p{
    width: 200px;
    margin: 0;
    padding: 20px;
    border: none;
    text-align: inherit;
    background-color: rgb(0, 0, 0, .2);
}
#divjogadores h1{
    text-align: center;
    width: 200px;
    margin: 0 0 0 50px;
    padding: 20px;
    border: none;
    background-color: rgb(0, 0, 0, .2);

}
#h1menu{
    text-align: center;
}
#pmenu{
    width: 70%;
    margin:0 200px 0 0  ;
}
#imagemf{
    width: 100%;
    margin: 0;
}
#final{
    width: 100%;
    text-align: center;
}