
:root {
    --primary-color: black
}

*{
    box-sizing: border-box;
    outline: 0;
}
body{
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Roboto';
    font-size: 1.3em;
    line-height: 1.5em;
    color: white;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: rgb(14, 13, 13);
    padding: 20px;
    border-radius: 10px;

}

form input, form label, form button{
    display: block;
    width: 100%;
    margin-bottom: 10px;

}

form input{
    font-size: 24px;
    height: 30px;
    padding: 0 20px;
}

form input:focus{
    outline: 1px solid var(--primary-color)
}
 
form button{
    border: none;
    background: rgba(8, 155, 223, 0.993);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 40px;
    cursor: pointer;
      margin-top: 30px;
}

form button:hover{
    background: black;
}
.paragrafo-resultado, .bad{
    background: rgb(13, 110, 13);
    padding: 10px 20px;
}

.bad{
    background: rgb(179, 47, 47);
}
