<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
  <div class="container">
    <a class="navbar-brand" href="{% url 'index' %}">Agenda</a>
    <div class="btn-group">
      <button class="btn btn-secondary btn-lg dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        Menu
      </button>

      <div class="dropdown-menu">
        <a href="{% url 'index' %}" >Home</a> <br>
        <a href="{% url 'cadastro' %}">busca</a>
      </div>

      <div class="dropdown-menu">

      </div>

    </div>
  </div>
</nav>





<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
  aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu
  <span class="navbar-toggler-icon"></span>
</button> -->