html body{
    height: 100vh;
}
body{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}
#container{
    background: green;
    display: flex;
    flex: 1;
    flex-direction: column;
}
#topbar{
    background: yellow;
}
footer{
    background: black;
    color: white;
}
#content{
    flex: 1;
    display: flex;
}
main{
    background: #fff;
    flex: 1;

}
sidebar{
    background: blue;
}