{% extends 'base.html' %}
{% load static %}

{% block 'titulo' %} Contato {% endblock %}


{% block conteudo %}
<main>
    <img id="imagemf" src="{% static 'img/foto5.jpg'%}" alt="">
    <p id="final">
        Fiquei com preguiça de fazer algo bonitinho é nois Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis aliquid nihil assumenda doloribus quidem maiores ullam? Facilis, nam minima aperiam aut totam explicabo voluptatibus, voluptatum reiciendis fuga quod non delectus? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem excepturi ipsam similique non a corporis, culpa error sint doloremque libero facilis? Aperiam aspernatur itaque ab velit officiis rem illo. Debitis!
    </p>
</main>
{% endblock %}